body {
    margin: 0;
    background-color: whitesmoke;
    font-family: sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
    width: 70%;
    grid-column-gap: 10px;
}

.input-container {

}

.content {
    background-color: white;
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 30px;
}

.content-address {
    color: grey;
    margin-bottom: 5px;
}

.content-message {
    font-size: 16pt;
    margin-bottom: 5px;
}
